<ion-content class="ion-padding">
  <div class="div-center p-2">
    <ion-card class="p-2">
      <ion-card-header class="text-center">
        <h2>Crea tu cuenta</h2>
      </ion-card-header>
      <ion-card-content>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <ion-icon
                style="zoom: 1.5"
                name="person-circle-outline"
              ></ion-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre"
            aria-label="nombre"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <ion-icon style="zoom: 1.5" name="mail"></ion-icon>
            </span>
          </div>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            aria-label="Email"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <ion-icon style="zoom: 1.5" name="key"></ion-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Password"
            aria-label="Password"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <ion-icon style="zoom: 1.5" name="key"></ion-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Confirmar password"
            aria-label="Password2"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <ion-icon style="zoom: 1.5" name="calendar"></ion-icon>
            </span>
          </div>
          <ion-datetime
            value="01/01/1980"
            class="form-control"
            display-timezone="utc"
          ></ion-datetime>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <ion-icon style="zoom: 1.5" name="call"></ion-icon>
            </span>
          </div>
          <input
            type="number"
            class="form-control"
            placeholder="Celular"
            aria-label="celular"
            aria-describedby="basic-addon1"
          />
        </div>
      </ion-card-content>
      <div class="div-center">
        <ion-button class="w-50" expand="block">Registrate</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
