.loading {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  top: 0;
  left: 0;
  flex-direction: column;

  img {
    width: 60px;
    height: auto;

    @media (min-width: 992px) {
      width: 80px;
    }
  }
}

.spinner {
  margin: 100px auto 0;
  width: 120px;
  text-align: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #0a3e32;
  margin: 0 10px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

.my-custom-menu {
  --width: 500px;
}

.NombreUsuarioMenu {
  margin-left: 15px;
}

.butonInstagram {
  background-color: #f56040;
}

.lblContactenosPC {
  font-weight: 600;
}
