<ion-content class="ion-padding">
  <div class="p-2 p-md-5">
    <div class="row pr-md-5 pl-md-5">
      <div class="col-12 col-md-7">
        <h1>Nostros somos un amigo mas</h1>
        <p class="h4 mt-3">
          Te asesoraremos para que puedas tener la mejor experiencia
        </p>
        <div class="mt-4 dvButtonRequest">
          <ion-button class="btn-block" routerLink="request-tatto"
            >¡Cotiza ahora mismo!</ion-button
          >
        </div>
      </div>
      <div class="col-12 col-md-5">
        <ion-card>
          <img src="../../../../assets/images/home1.jpg" />
        </ion-card>
      </div>
    </div>
    <!--Como es el proceso-->
    <div class="row mt-5 d-flex justify-content-center pr-md-5 pl-md-5">
      <div class="col-12 text-center mb-5">
        <h2>¿Como es el proceso?</h2>
      </div>
      <ion-card class="col-10 col-md-3 p-2">
        <div class="text-center">
          <ion-icon
            style="color: black"
            name="person-add-outline"
            size="large"
          ></ion-icon>
        </div>
        <ion-card-header>
          <ion-card-title class="text-center">Paso 1</ion-card-title>
          <ion-card-subtitle><b>Registrate:</b></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content
          >Registrate con nosotros mediante facebook, gmail o crea una
          cuenta</ion-card-content
        >
      </ion-card>
      <ion-card class="col-10 col-md-3 p-2">
        <div class="text-center">
          <ion-icon
            style="color: black"
            name="cash-outline"
            size="large"
          ></ion-icon>
        </div>
        <ion-card-header>
          <ion-card-title class="text-center">Paso 2</ion-card-title>
          <ion-card-subtitle><b>Cotiza:</b></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Envia tu cotización y te contactaremos lo antes posible
        </ion-card-content>
      </ion-card>
      <ion-card class="col-10 col-md-3 p-2">
        <div class="text-center">
          <ion-icon
            style="color: black"
            name="thumbs-up-outline"
            size="large"
          ></ion-icon>
        </div>
        <ion-card-header>
          <ion-card-title class="text-center">Paso 3</ion-card-title>
          <ion-card-subtitle><b>Se nuestro aliado:</b></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Al concretar servicios de tus colegas recomendados por ti. Te
          obsequiaremos descuentos
        </ion-card-content>
      </ion-card>
    </div>
    <!--Acerca de nosotros-->
    <div class="mt-5 row pr-md-5 pl-md-5">
      <div class="col-12 col-md-7">
        <h2 class="text-center">Acerca de nosotros</h2>
        <p>
          <strong>Akeronte Tatto</strong> es una empresa, enfocada en dar una
          excelente atención, servicio y asesoramiento.
        </p>
        <p>
          Nuestro equipo tiene varias <strong>decadas de experiencia</strong> en
          el arte del tatuaje, como equipo hemos realizado incontables tatuajes
          donde nuestros clientes estan <strong>mas que satisfechos</strong>.
        </p>
        <p>
          Utilizamos
          <strong>siempre la mejor maquinaria y elementos</strong> para que tus
          tajuaes luzcan mas que genial.
        </p>
      </div>
      <div class="col-12 col-md-5">
        <ion-card>
          <img src="../../../../assets/images/home1.jpg" />
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
